<section class="well">

	<ul id="gh_repos" class="nav">
    <li class="nav-header">Easy Fundraising</li>
  </ul>
	<!-- Here's my badge to show support for Baughurst Scout and Guide Group. They raise funds with easyfundraising.org.uk -->
	<a href="http://www.easyfundraising.org.uk/causes/baughurstsgg/?badge=ef_120x60_DF8KIW_1WKLJR.png&amp;u=1WKLJR&amp;urp=1WKLJR" class="easyfundraisingBadge"><img src="http://www.easyfundraising.org.uk/images/user-banners/ef-static/120x60_reversed.png" width="48%" border="0" alt="easyfundraising.org.uk"></a>

	<!-- Here's my badge to show support for Baughurst Scout and Guide Group. They raise funds with easyfundraising.org.uk -->
	<a href="http://baughurstsgg.easysearch.org.uk/?badge=es_120x60_DF8KIW_1WKLJR.png&amp;u=1WKLJR&amp;urp=1WKLJR" class="easyfundraisingBadge"><img src="http://www.easyfundraising.org.uk/images/user-banners/es-static/120x60.png" border="0" width="48%" alt="easysearch.org.uk"></a>

</section>