<ul class="nav">
	<li><a class="beavers-logo" href="{{ root_url }}/beavers">Beavers</a></li>
	<li><a class="cubs-logo" href="{{ root_url }}/cubs">Cubs</a></li>
	<li><a class="scouts-logo" href="{{ root_url }}/scouts">Scouts</a></li>
	<li><a class="rainbows-logo" href="{{ root_url }}/rainbows">Rainbows</a></li>
	<li><a class="brownie-logo" href="{{ root_url }}/brownies">Brownies</a></li>
	<li><a class="guides-logo" href="{{ root_url }}/guides">Guides</a></li>
	<li><a href="{{ root_url }}/contact.html">Contact</a></li>
	<li><a href="{{ root_url }}/about.html">About</a></li>
</ul>
