<ul class="nav">
	<li><a href="{{ root_url }}/beavers">Beavers</a></li>
	<li><a href="{{ root_url }}/brownies">Brownies</a></li>
	<li><a href="{{ root_url }}/cubs">Cubs</a></li>
	<li><a href="{{ root_url }}/guides">Guides</a></li>
	<li><a href="{{ root_url }}/rainbows">Rainbows</a></li>
	<li><a href="{{ root_url }}/scouts">Scouts</a></li>
	<li><a href="{{ root_url }}/about.html">About</a></li>
	<li><a href="{{ root_url }}/contact.html">Contact</a></li>
	<li><a href="{{ root_url }}/">Blog</a></li>
	<li><a href="{{ root_url }}/blog/archives">Archives</a></li>
</ul>
