<ul class="nav">
	<li><a href="{{ root_url }}/Beavers">Beavers</a></li>
	<li><a href="{{ root_url }}/Brownies">Brownies</a></li>
	<li><a href="{{ root_url }}/Cubs">Cubs</a></li>
	<li><a href="{{ root_url }}/Guides">Guides</a></li>
	<li><a href="{{ root_url }}/Rainbows">Rainbows</a></li>
	<li><a href="{{ root_url }}/Scouts">Scouts</a></li>
	<li><a href="{{ root_url }}/About">About</a></li>
	<li><a href="{{ root_url }}/Contact">Contact</a></li>
	<li><a href="{{ root_url }}/">Blog</a></li>
	<li><a href="{{ root_url }}/blog/archives">Archives</a></li>
</ul>
