@import "common";

$baseFontFamily:        $guideFontFamily;
$headingsFontFamily:    $guideHeadingFontFamily;
$headingsFontWeight:    bold; 
$headingsColor:         darken($guidePink, 10%);
$baseFontSize:          14px;



$linkColor:  $guidePink;
$linkColorHover: darken($guidePink, 10%);


@import "../bootstrap/bootstrap";


// Nav headers (for dropdowns and lists)
.nav .nav-header {
  color: $guidePink;
 }
// Blockquotes
blockquote {
  border-left: 5px solid $guidePink;
  small {
    color: $guidePink;
  }

  // Float right with text-align: right
  &.pull-right {
    border-right: 5px solid $guidePink;
  }
}
