
// GLOBAL VALUES
// --------------------------------------------------


// Grays
// -------------------------
$black:                 #000 !default;
$grayDarker:            #222 !default;
$grayDark:              #333 !default;
$gray:                  #555 !default;
$grayLight:             #999 !default;
$grayLighter:           #eee !default;
$white:                 #fff !default;


// Accent colors
// -------------------------
$blue:                  #049cdb !default;
$blueDark:              #0064cd !default;
$green:                 #46a546 !default;
$red:                   #9d261d !default;
$yellow:                #ffc40d !default;
$orange:                #f89406 !default;
$pink:                  #c3325f !default;
$purple:                #7a43b6 !default;



// Navbar
// -------------------------
$navbarHeight:                    40px !default;
$navbarBackground:                $white;
$navbarBackgroundHighlight:       $white;

$navbarText:                      $grayLight !default;
$navbarLinkColor:                 $grayLight !default;
$navbarLinkColorHover:            $white !default;
$navbarLinkColorActive:           $navbarLinkColorHover !default;
$navbarLinkBackgroundHover:       transparent !default;
$navbarLinkBackgroundActive:      $navbarBackground !default;

$navbarSearchBackground:          lighten($navbarBackground, 25%) !default;
$navbarSearchBackgroundFocus:     $white !default;
$navbarSearchBorder:              darken($navbarSearchBackground, 30%) !default;
$navbarSearchPlaceholderColor:    #ccc !default;
$navbarBrandColor:                $navbarLinkColor !default;

.brand
{
  background: white url(/images/joint-logo.png);
  background-size: auto 75px;
  background-repeat: no-repeat;
  text-indent: -9999px;  /* Send text out of viewable area */
  overflow:hidden;  /* make sure our size is respected */
  height: 70px;
  width: 100%;
}

$logo-height: 30px;

.brownie-logo
{
  background: url(/images/brownies/brownieslogo.gif);
  background-size: auto $logo-height;
  background-repeat: no-repeat;
  text-indent: -9999px;  /* Send text out of viewable area */
  overflow:hidden;  /* make sure our size is respected */
  width: $logo-height * 3.5;
}


.beavers-logo
{
  background: url(/images/beavers/beavers-logo-no-circle.jpg);
  background-size: auto $logo-height;
  background-repeat: no-repeat;
  text-indent: -9999px;  /* Send text out of viewable area */
  overflow:hidden;  /* make sure our size is respected */
  width: $logo-height * 3;
}


.cubs-logo
{
  background: url(/images/cubs/logo.jpg);
  background-size: auto $logo-height;
  background-repeat: no-repeat;
  text-indent: -9999px;  /* Send text out of viewable area */
  overflow:hidden;  /* make sure our size is respected */
  width: $logo-height * 2.4;
}


.guides-logo
{
  background: url(/images/guides/guideslogo.gif);
  background-size: auto $logo-height;
  background-repeat: no-repeat;
  text-indent: -9999px;  /* Send text out of viewable area */
  overflow:hidden;  /* make sure our size is respected */
  width: $logo-height * 3.5;
}


.rainbows-logo
{
  background: url(/images/rainbows/rainbowslogo.gif);
  background-size: auto $logo-height;
  background-repeat: no-repeat;
  text-indent: -9999px;  /* Send text out of viewable area */
  overflow:hidden;  /* make sure our size is respected */
  width: $logo-height * 3.5;
}


.scouts-logo
{
  background: url(/images/scouts/scoutslogo.jpg);
  background-size: auto $logo-height;
  background-repeat: no-repeat;
  text-indent: -9999px;  /* Send text out of viewable area */
  overflow:hidden;  /* make sure our size is respected */
  width: $logo-height * 3.5;
}
