@import "common";

$baseFontFamily:        $cubsFontFamily;
$headingsFontFamily:    $cubsHeadingFontFamily; // empty to use BS default, $baseFontFamily
$headingsFontWeight:    bold;    // instead of browser default, bold
$headingsColor:         $cubsDarkGreen; // empty to use BS default, $textColor

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}


$linkColor:  $cubsDarkPurple;
$linkColorHover: $cubsGreen;


@import "../bootstrap/bootstrap";


h2{ color: $cubsDarkPurple; }
h3{ color: $cubsRed; }

// Nav headers (for dropdowns and lists)
.nav .nav-header {
  color: $cubsDarkGreen;
 }
// Blockquotes
blockquote {
  border-left: 5px solid $cubsDarkPurple;
  small {
    color: $cubsDarkPurple;
  }

  // Float right with text-align: right
  &.pull-right {
    border-right: 5px solid $cubsDarkPurple;
  }
}
