@import "common";

$baseFontFamily:        $guideFontFamily;
$headingsFontFamily:    $guideHeadingFontFamily;
$headingsFontWeight:    bold; 
$headingsColor:         $guideRaspberry;
$baseFontSize:          14px;



$linkColor:  $guideRaspberry;
$linkColorHover: darken($guideRaspberry, 10%);


@import "../bootstrap/bootstrap";


// Nav headers (for dropdowns and lists)
.nav .nav-header {
  color: $guideRaspberry;
 }
// Blockquotes
blockquote {
  border-left: 5px solid $guideRaspberry;
  small {
    color: $guideRaspberry;
  }

  // Float right with text-align: right
  &.pull-right {
    border-right: 5px solid $guideRaspberry;
  }
}
